node_modules/
dist/
dist-electron/
dist-webos/
/android/
/capacitor-android/
*.log
.DS_Store
.env
.vite/
.gradle/
build/
*.node
*.lock
*.bin
native/**/build/
capacitor-plugins/*/platform-android/.gradle/
capacitor-plugins/*/platform-android/build/
capacitor-plugins/*/android/.gradle/
capacitor-plugins/*/android/build/

# IDE / OS
.idea/
.vscode/
*.iml
local.properties
*.swp
